@model IEnumerable<StarMatrix.Models.ShipLocation>
@{
    ViewData["Title"] = "Towage";
}

<section class="slating">
   
    <img src="~/images/Inner-banner.jpg" class="img-fluid" alt="Responsive image" style="width:100%;">
</section>


<section id="" class="">
    <div class="container pb-3">
        <div class="row">

            <div class="col-lg-12">
                <div class="sitemap_box">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Towage</li>
                    </ol>
                </div>
            </div>

            <div class="col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="title_box pb-4"><h1>Towage</h1></div>

                <br>

                <table class="table table-bordered table-hover small">


                    <thead class="bg-light">
                        <tr>
                            <th>Sr.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tugs.TugName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tugs.BollardPullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tugs.EngineHPName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tugs.ClassTypeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PresentLocation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Availability)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AvailableLocation)
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @{ int rowno = 0;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(rowno += 1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tugs.TugName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tugs.BollardPullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tugs.EngineHPName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tugs.ClassTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PresentLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Availability)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AvailableLocation)
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>

            </div>


            @*<div class="col-md-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-success mt-2"><h6 class=" text-white">Company Presentation</h6></a>
                <a href="#" class="list-group-item list-group-item-success mt-2"><h6 class=" text-white">Download Brochure</h6></a>
            </div>
        </div>*@


        </div>



    </div> 
</section>

